<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature
        android:name="android.hardware.camera.any"
        android:required="true" />
    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <queries>

        <!-- Browser -->
        <intent>
            <action android:name="android.intent.action.VIEW" />

            <data android:scheme="http" />
        </intent>
        <!-- Camera -->
        <intent>
            <action android:name="android.media.action.IMAGE_CAPTURE" />
        </intent>
        <!-- Gallery -->
        <intent>
            <action android:name="android.intent.action.GET_CONTENT" />

            <data android:mimeType="file/*" />
        </intent>
        <intent>
            <action android:name="android.intent.action.PICK" />

            <data android:mimeType="file/*" />
        </intent>
        <intent>
            <action android:name="android.intent.action.CHOOSER" />
        </intent>
    </queries>

    <application
        android:name=".SaralPe"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:supportsRtl="true"
        android:theme="@style/Theme.SaralPe"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:screenOrientation="portrait"
            android:name=".view.activities.WebViewActivity"
            android:exported="false" />
        <activity
            android:name=".view.activities.QRCodeScannerActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activities.bbps.BbpsActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activities.dmt.MoneyRequestActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activities.dmt.AddBeneficiaryMoneyTransferActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activities.dmt.BeneficiaryMoneyTransferActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activities.dmt.MoneyTransferActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activities.aeps.SattlementActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activities.aeps.AepsAuthenticationActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activities.aeps.WalletTopUpActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activities.PrivacyPolicyActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activities.aeps.BalanceEnquiryActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activities.aeps.CashWithdrawalActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activities.aeps.MiniStatementActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activities.aeps.AadhaarPayActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activities.aeps.AepsServicesActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activities.SignUpEmailVerificationActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activities.SignUpOtpVerificationActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activities.SignUpPhoneNumberActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activities.SignUpNameActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activities.SignUpEmailActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activities.SetNewPasswordActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activities.ResetPasswordActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activities.VerifyPhoneActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activities.LoginActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activities.StartActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activities.MainActivity"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>